.o_kanban_view .o_kanban_record .o_res_partner_kanban {
    border: none!important;
    background-color: transparent!important;
    box-shadow: none!important;
}

.profile-card.card {
    border-radius: 20px!important;
    padding-bottom: 0!important;
}

.banner{
	position: absolute;
	top:0; 
	left:0;
	width: 100%;
	height:115px;
    background: #7c7bad;
}

.img-circle{
	height:150px;
	width:150px;
	border-radius: 150px;
	border:3px solid #fff;
    background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	z-index:1;
}

.profile-card.card h2 {
    min-height: 50px;
}

.card-details p {
    display: flex;
    align-items: center;
}

.card-details span {
    color: rgb(112, 112, 112);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-details i.fa {
    color: rgb(124, 123, 173);
    font-size: 14px;
    width: 20px;
    text-align: center;
}

.card-details i.fa.fa-map-marker {
    font-size: 16px;
}

.o_kanban_tags_section.oe_kanban_partner_categories, div.o_row {
    display: none;
}