.qty-label{
	position: absolute;
    top: 25px !important;
    left: 5px;
    font-size: 11px;
    border-radius: 2px;
    background-color: #4caf50;
    color: white;
    width: 16px;
    height: 15px;
    display: inline-table;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    line-height: 13px;
    padding: 2px 5px;
}

.out-of-stock-qty{
	background-color: #f44336 !important;
}