<?xml version="1.0" encoding="utf-8"?>
<odoo>
        <!-- GR config -->
        <menuitem id="menu_hr_employee_rec_visa" name="Recruiter Visa Request" parent="saudi_hr.menu_gr" sequence="6" action="action_hr_employee_rec_visa" groups="saudi_hr.group_gr_officer,hr_recruitment.group_hr_recruitment_user"/>
</odoo>