.o_horizontal_separator {
    box-shadow: 0px 1.2px 0px #80808012;
    color: $o-brand-primary;
    font-weight: bold;
    font-size: 0.94791667rem;
    margin: 1.2em 16px 0.8em 0;
}
.bootstrap-datetimepicker-widget {
    z-index: 99999;    
}