/* يمكنك إضافة تنسيقات CSS مخصصة هنا */

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table th {
    background-color: #f8f9fa;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}